.Rproj.user
.Rhistory
.RData
.Ruserdata
src/*.o
src/*.so
src/*.dll
deprecated
cran-comments.md
inst/AUTHORS
.DS_Store
saveCheck
include
inst/include/CGAL
VERSION
AUTO_INSTALL_ERROR
pkg_check
R/pkg_state.R